<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simplycodinghub.learnandroidapp">
    <!-- This permissions are neccessary for broadcast receiver -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- FOR COMPASS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FullScreenPopUp.Main37Activity"/>
        <activity
            android:name=".AProjects.Home.HomeActivity"
            android:theme="@style/BAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AProjects.Slider.Introslider2.Slider2Activity" />
        <activity
            android:name=".AProjects.Slider.IntroSlider.Slider1Activity"
            android:theme="@style/AAppTheme"></activity>
        <activity android:name=".BestCodeRetrofit.Main35Activity" />
        <activity android:name=".RetrofitListViewModel.Main34Activity" />
        <activity android:name=".PassObjectActivity.Main33Activity" />
        <activity android:name=".PassObjectActivity.Main32Activity" />
        <activity android:name=".WebView.Main31Activity" />
        <activity android:name=".BestCodeRetrofit.Main30Activity" />
        <activity android:name=".CheckInternetRetrofit.Main29Activity" />
        <activity android:name=".SimpleInternetCheck.Main28Activity" />
        <activity android:name=".AutoFetchMobileNo.Main27Activity" />
        <activity android:name=".LearnSocket.BothServerSideActivity" />
        <activity android:name=".LearnSocket.BothClientSideActivity" />
        <activity android:name=".LearnSocket.ClientSideActivity" />
        <activity android:name=".LearnSocket.ServerSideActivity" />
        <activity android:name=".QuickBroadcast.Main22Activity" />
        <activity android:name=".FirebaseAnalytics.Main21Activity" />
        <activity android:name=".LearnBluetoothConnection.Main20Activity" />
        <activity android:name=".RecyclerViewVolley.Main19Activity" />
        <activity android:name=".RegisterVolley.MainVolleyActivity" />
        <activity android:name=".SwipeViewPager.DetailActivity" />
        <activity android:name=".SwipeViewPager.Main18Activity" />
        <activity android:name=".singulList.Main17Activity" />
        <activity android:name=".singulList.Main16Activity" />
        <activity android:name=".LearnAlarmMananger.DailyNotification.Main15Activity" />
        <activity android:name=".LearnAlarmMananger.v12.Main14Activity" />
        <activity android:name=".LearnAlarmMananger.AlarmReceiverActivity" />
        <activity android:name=".LearnAlarmMananger.Main13Activity" />
        <activity android:name=".CompassDirection.CompassActivity" />
        <activity android:name=".NamazTime.Main12Activity" />
        <activity android:name=".FastInternetCheckLearn.Main11Activity" />
        <activity android:name=".RecyclerViewTutorial.Main10Activity" />
        <activity android:name=".RegisterRetrofit.Main9Activity" />
        <activity android:name=".BroadcastActivity.SecondActivity" />
        <activity android:name=".BroadcastActivity.Main8Activity" />
        <activity
            android:name=".BroadcastReceiverNotificationLearn.ReceiverLearnActivity"
            android:launchMode="standard" />
        <activity android:name=".ServiceLearn.LearnServiceActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UberCarAnimation.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".LifecycleLearn.Main7Activity" />
        <activity android:name=".frescoLibrary.Main6Activity" />
        <activity
            android:name=".RecyclerViewTutorial.Main4Activity"
            android:launchMode="singleTask" />
        <activity android:name=".SearchLocation.Main3Activity" />
        <activity android:name=".LifecycleLearn.MainActivity" />
        <activity android:name=".Main2Activity" /> <!-- Will not be called unless the application explicitly enables it -->
        <service android:name=".ServiceLearn.MyService" />

        <receiver android:name=".LearnAlarmMananger.ReminderBroadcast" />
        <receiver android:name=".LearnAlarmMananger.ReminderBroadcast2" />
        <receiver android:name=".LearnAlarmMananger.AlarmReceiver2" />
        <receiver
            android:name=".BroadcastActivity.AlarmReceiverr"
            android:process=":remote" />
        <receiver android:name=".BroadcastReceiverNotificationLearn.MyNotificationPublisher" /> <!-- Declare  Alarm Broadcast receiver here -->
        <receiver android:name=".LearnAlarmMananger.v12.AlarmReceiver" /> <!-- Declare  Alarm Notification Service here -->
        <service android:name=".LearnAlarmMananger.v12.AlarmNotificationService" /> <!-- Declare  Alarm Sound Service here -->
        <service android:name=".LearnAlarmMananger.v12.AlarmSoundService" /> <!-- Daily Notification code below -->
        <receiver
            android:name=".LearnAlarmMananger.DailyNotification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
            -->
        </receiver>
        <receiver android:name=".LearnAlarmMananger.DailyNotification.AlarmNotificationReceiver" />

        <service
            android:name=".LearnAlarmMananger.DailyNotification.MyService2"
            android:enabled="true"
            android:exported="true" /> <!-- Declare Broadcast receiver -->
        <receiver
            android:name=".QuickBroadcast.MyReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>